@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Notas:

    la medida em es hereditaria, por defecto es 16px, si se le aplica a un elemento padre 1.5em, y 
    al elemento hijo 2.5em, el elemento padre sera de 24px y el elemento hijo de 40px.

    la medida rem es independiente, por defecto es 16px, no influye la herencia.
*/

/* Estilos globales */
@layer base {
  /* Global */
  * {
    box-sizing: border-box;
  }

  /* Body */
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
 
  /* Variables */
  :root {
    --azulOscuro: #001ea3;
    --azulMedio: #3054b7;
    --azulClaro: #3f75ea;
    --blancoCeleste: #e0ecff;
    --rojo: #ef172e;
  }
}

/* Estilos personalizados reutilizables */
@layer components {

}

/* Clases de utilidad */
@layer utilities {
    .flex-row-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-col-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .placeholder-style::placeholder {
        font-weight: normal;
        opacity: 50%;
        color: var(--azulMedio);
    }
}