{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static '/assets/images/icon.webp' %}" />
    <title>Ferremas</title>
    {% tailwind_css %}
  </head>
  <body>
    <!-- Carrito -->

    <!-- Overlay -->
    <section
      id="modalCarro"
      class="hidden w-screen h-screen z-50 fixed inset-0 overflow-hidden bg-black bg-opacity-30"
    >
      <div
        class="modal-content flex flex-col h-full w-[30vw] absolute inset-y-0 right-0 text-white bg-[var(--azulMedio)] transition-all duration-300 transform translate-x-full"
      >
        <!-- Resumen y cambio de divisas-->
        <header class="flex justify-between items-center px-6 pt-8 pb-4">
          <!-- Titulo -->
          <h1 class="font-bold text-[1.5rem] leading-none">RESUMEN</h1>

          <!-- Divisas disponibles -->
          <div class="divisa-container relative">
            <select
              id="divisa-select"
              name="divisa"
              class="font-semibold bg-[var(--azulClaro)] px-3 py-1 rounded-lg"
            >
              <option value="clp">CLP 🇨🇱</option>
              <option value="usd">USD 🇺🇸</option>
            </select>
          </div>
        </header>

        <hr class="w-full max-w-[95%] mx-auto mt-1 border-[1px] opacity-50" />

        <!-- Productos del carro -->
        <main class="flex-grow overflow-y-auto">
          <!-- Productos desde localStorage -->
          <section id="carro-section" class="font-medium"></section>
        </main>

        <!-- Boton cerrar carro y pagar-->
        <footer class="flex-col-center mt-auto w-full">
          <div class="w-full max-w-[95%] pt-4">
            <h2 class="font-semibold text-xl">
              Total: $<span id="carro-total">0</span>
            </h2>
          </div>
          <div class="w-full flex-row-center py-6">
            <button
              id="closeCarroBtn"
              class="mr-4 font-bold text-[var(--azulMedio)] text-lg w-[30%] py-2 bg-white rounded-full"
              type="button"
            >
              Cerrar
            </button>
            <button
              id="initPagoBtn"
              class="ml-4 font-bold text-[var(--azulMedio)] text-lg w-[30%] py-2 bg-white rounded-full"
              type="button"
            >
              <a href="{% url 'iniciarPago' %}">
                Iniciar pago
              </a>
            </button>
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
